<div class="sidebar-menu">
    <ul class="menu">
        <li class="sidebar-title">Menu</li>

        <li class="sidebar-item active">
            <a href="/" class='sidebar-link'>
                <i class="fas fa-home"></i>
                <span>Головна сторінка</span>
            </a>
        </li>

        <li class="sidebar-item  has-sub">
            <a href="#" class='sidebar-link'>
                <i class="bi bi-stack"></i>
                <span>Продукти</span>
            </a>

        <li class="sidebar-item active">
            <a href="@Url.Action("Index", "Order")" class='sidebar-link'>
                <i class="bi bi-cart"></i>
                <span>Замовлення</span>
            </a>
        </li>
        <li class="sidebar-item active">
            <a href="@Url.Action("CheckIngredients", "Ingredient")" class='sidebar-link'>
                <i class="bi bi-cart"></i>
                <span>Перевірка складу</span>
            </a>
        </li>
    </ul>
</div>